body{
	margin: 0;
	padding: 0;
	font-family: arial;
	min-height:100vh ;
	background-color: black;

}
header, footer{
	background: transparent;
	padding: 20px;
	text-align: center; 
}
header{
	background-color:purple;
}
#header_index{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
#header_index li {
	display: block;
	padding: 10px;
	margin: 10px;
}
footer{
	background-color:purple;
}
a{
	text-align: center;
	margin: 10px;
	padding-right:20px;
	color: lightgreen;
	text-decoration: none;
}
#text{
	max-width: 400px;
	color: white;
	text-align: left;
}
#img{
	min-height: 500px;
	min-width: 300px;
}

.menu{
	list-style: none;
	justify-content: center;
	display: flex;
}
main{
	background: transparent;
	padding: 20px;
}
#main_div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px;
}
.products-container{
	justify-content: center;
	margin: auto;
	max-width: 1200px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
#results-info {
	text-align: center;
	margin: 10px ;
	font-size: 14px;
	color: lightgreen;
}
.product-card {
	border:10px solid purple ;
	text-align: center;
	color: black;
	/*display: flex;*/
	background-color:white;
	box-shadow: 0 2px 6px grey;
	box-sizing: border-box;
	border-radius: 10px;
	/*padding: 10px;*/
	width: 250px;
}
.product-card:hover{
	box-shadow: 1px #000;
	transition-duration:1s ;
	transform: scale(1.05);
}
.product-card h3{
	margin: 10px 20px;
}

.product-price{
	font-weight: bold;
}

.add-to-card-btn{
	min-width: 200px;
	min-height: 50px;
	border: 0;
	border-radius: 6px;
	color: white;
	background-color:#333;
	cursor: pointer;
}
.add-to-card-btn:hover{
	transition-duration: 1s;
	background-color:#D9CFC7;
	color: black;
}
#del-from-cart{
	cursor: pointer;
	border-radius: 10px;
}
.cart-info{
	margin: 10px ;
	font-size: 14px;
	color: lightgreen;
}
.img{
	margin-right: 150px;
	max-height: 50px;
	max-width: 50px;
}
@media(max-width: 599px){
	.product-card {
		width: 80%;
		max-height: 500px;
	}
}
@media(max-width: 2048px){
	.product-card{
		font-size: 24px;
	}
}
@media(max-width: 600px){
	.product-card{
		margin:20px ;
	}
}